<div class="login-container">
  <h2 class="la-title">DID YOU DO IT YET?</h2>
  <h4 class="lf-title" id="form-title">Login</h4>
  
  <form class="log-form" id="login-form">
    <input
      id="e-input"
      type="email"
      placeholder="Email"
      required
    />
    <input
      id="p-input"
      type="password"
      placeholder="Password"
      required
    />
    <button type="submit" id="submit-btn">Login</button>
  </form>
  
  <button class="reg-btn" id="toggle-btn">
    Not a member? Register
  </button>
  
  <div id="login-error" class="error"></div>
</div>
